<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">

        <table>

        <div class="form-group">
            <tr>
                <td><label th:for="name">Name</label></td>
                <td><input th:field="*{name}" />
                <div th:if="${errors}">
                    <p th:errors="*{name}" style="color: red;"></p>
                </div>
                </td>
            </tr>
        </div>

        <div class="form-group">
            <tr>
                <td><label th:for="employer">Employer</label></td>
                <td>
                    <select th:field="*{employer}">
                        <option th:each="employer : *{employers}"
                                th:value="${employer.value}"
                                th:text="${employer.value}">
                        </option>
                    </select>
                </td>
            </tr>
        </div>

        <!-- TODO #5 - Create <select> dropdowns for other job fields -->
        <div class="form-group">
            <tr>
                <td><label th:for="location">Location</label></td>
                <td>
                    <select th:field="*{location}">
                        <option th:each="location : *{locations}"
                                th:value="${location}"
                                th:text="${location.value}"></option>
                    </select>
                </td>
            </tr>
        </div>

        <div class="form-group">
            <tr>
                <td><label th:for="positionType">Position Type</label></td>
                <td>
                    <select th:field="*{positionType}">
                        <option th:each="positionType : *{positionTypes}"
                                th:value="${positionType}"
                                th:text="${positionType.value}"></option>
                    </select>
                </td>
            </tr>
        </div>

        <div class="form-group">
            <tr>
                <td><label th:for="coreCompetency">Core Competency</label></td>
                <td>
                    <select th:field="*{coreCompetency}">
                        <option th:each="coreCompetency : *{coreCompetencies}"
                                th:value="${coreCompetency}"
                                th:text="${coreCompetency.value}"></option>
                    </select>
                </td>
            </tr>
        </div>
        </table>
            <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>